web/WEB-INF/database/recruiter.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="recruiter" type="recruiter"/>
    <xs:complexType name="recruiter">
        <xs:sequence>
            <xs:element name="forename" type="xs:string" />
            <xs:element name="surname" type="xs:string" />
            <xs:element name="email" type="xs:string" />
            <xs:element name="password" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
